<header class="section-header">
    <section class="header-main border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 py-3">
                    <a class="text-body" routerLink="">
                        <h3>Shop Gia Dụng</h3>
                    </a>
                </div> <!-- col.// -->
                <div class="search col-lg-4 col-xl-5">
                    <form (ngSubmit)="onSubmit()">
                        <div class="input-group w-100">
                            <input [(ngModel)]="searchText" (focus)="onFocus()" (blur)="onBlur()" (input)="onChange()"
                                type="text" class="form-control" placeholder="Nhập từ khóa cần tìm ..."
                                name="search-box">
                            <button class="btn btn-primary" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                    <ul class="search-result list-group" *ngIf="showResult">
                        <li class="list-group-item" *ngFor="let product of searchResults">
                            <a [routerLink]="['/product', product.id]" (mousedown)="$event.preventDefault()"
                                class="search-item">
                                <img class="search-item__thumb" [src]="product.img" width="35" height="35">
                                <span class="search-item__title ms-3" appHighlight [searchedWord]="searchText"
                                    [content]="product.name" [classToApply]="'fw-bold'">{{product.name}}</span>
                            </a>
                        </li>
                    </ul>
                </div> <!-- col.// -->
                <div class="col-lg-5 col-xl-4">
                    <ul
                        class="nav col-12 col-lg-auto my-2 my-lg-0 justify-content-center justify-content-lg-end text-small">
                        <li>
                            <a routerLink="/user" class="nav-link text-body">
                                <i class="bi bi-person d-block text-center fs-3"></i>
                                Tài khoản
                            </a>
                        </li>
                        <li>
                            <a routerLink="/order" class="nav-link text-body">
                                <i class="bi bi-list-check d-block text-center fs-3"></i>
                                Đơn hàng
                            </a>
                        </li>
                        <li>
                            <a routerLink="/cart" class="nav-link text-body">
                                <i class="bi bi-cart d-block text-center fs-3"></i>
                                Giỏ hàng
                            </a>
                        </li>
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main.// -->
</header> <!-- section-header.// -->

<nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <strong><i class="bi bi-list"></i> Danh mục sản phẩm</strong>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Nồi cơm điện</a></li>
                        <li><a class="dropdown-item" href="#">Lò nướng</a></li>
                        <li><a class="dropdown-item" href="#">Quạt</a></li>
                        <li><a class="dropdown-item" href="#">Bàn ủi</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Tất cả danh mục</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sản phẩm mới</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sản phẩm bán chạy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Khuyến mãi</a>
                </li>
            </ul>
            <a class="btn btn-light me-2" routerLink="/signup" role="button">Đăng ký</a>
            <a class="btn btn-primary" routerLink="/signin" role="button">Đăng nhập</a>
        </div>
    </div> <!-- container .// -->
</nav> <!-- navbar-main.// -->