.section-title {
    padding: 45px 0;
}

.section-body {
    padding: 2rem 0;
}

.table th {
    padding: 0px 16px 16px;
}

hr {
    margin: 0px 0px 16px;
}

img {
    display: block;
    width: 50px;
    /* height: 20px; */
}
.table-responsive td {
    padding-left: 16px;
}

.info {
    padding: 0px;
}