section.section__content.section__cart.fs__form2 {
    margin-bottom: 20px;
}
.bg .title-page{
    height: 118px;
    padding: 45px 0;
}
.section__cart table>thead>tr>th:first-child {
    width: 140px;
}
.table td, .table th {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.itemside .title {
    display: block;
    margin-bottom: 5px;
}
.itemside .info {
    padding-left: 15px;
    padding-right: 7px;
}
.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.price {
    font-style: normal;
}
.price {
    font-weight: 600;
}
var {
    font-style: italic;
}
.img-sm {
    width: 80px;
    height: 80px;
}
.img-xs, .img-sm, .img-md, .img-lg {
    -o-object-fit: cover;
    object-fit: cover;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

dl {
    display: flex;
}
dl>dd {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
