<section class="section-pagetop bg-light">
    <div class="container">
        <h2 class="title-page">Đơn hàng</h2>
    </div> <!-- container.// -->
</section> <!-- section-pagetop.// -->

<section class="section-content padding-y">
    <div class="container">
        <div class="row">

            <aside class="col-md-3 mb-md-0 mb-3">
                <nav class="list-group">
                    <a class="list-group-item" routerLink="/user"> Tài khoản </a>
                    <a class="list-group-item active"> Đơn hàng của tôi </a>
                    <a class="list-group-item" routerLink=""> Đăng xuất </a>
                </nav>
            </aside> <!-- col.// -->

            <main class="col-md-9">

                <article class="card mb-4" *ngFor="let order of pageOfItems">

                    <header class="card-header">
                        <strong class="d-inline-block me-4">Mã đơn hàng: {{order?.id}}</strong>
                        <span>Ngày mua: {{order?.buyDate}}</span>
                    </header> <!-- card-header.// -->

                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-md-8">
                                <h6 class="text-muted">Địa chỉ người nhận</h6>
                                <p class="lh-lg">{{userInfor?.fullname}}<br> Số điện thoại: {{userInfor?.phone}}<br> Địa chỉ: {{userInfor?.address}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="text-muted">Hình thức thanh toán</h6>
                                <span class="text-success">
                                    <i class="fab fa-lg fa-cc-visa"></i>
                                    {{order?.deliveryMethod}}
                                </span>
                                <p class="lh-lg">{{getTempPrice(order) | number:'':'vi'}}₫ <br> Phí vận chuyển: {{order?.deliveryPrice | number:'':'vi'}}₫ <br>
                                    <strong>Tổng cộng: {{ getTempPrice(order) + order?.deliveryPrice | number:'':'vi'}}₫  </strong>
                                </p>
                            </div>
                        </div> <!-- row.// -->
                    </div> <!-- card-body.// -->

                    <hr class="m-0">

                    <div class="table-responsive">
                        <table class="cart-table table table-borderless">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col" style="min-width: 280px;">Sản phẩm</th>
                                    <th scope="col" width="150" style="min-width: 150px;">Giá</th>
                                    <th scope="col" width="150" style="min-width: 150px;">Số lượng</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let product of order.productList">
                                <tr>
                                    <td>
                                        <figure class="itemside">
                                            <div class="float-start me-3"><img [src]="getProductById(product.productId).img"></div>
                                            <figcaption class="info">
                                                <a href="#" class="title">{{getProductById(product.productId).name}}</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <span class="price">{{product.historicalPrice | number:'':'vi'}}₫ </span>
                                        </div>
                                    </td>
                                    <td>
                                        {{product.wantedQuantity}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>  <!-- table.responsive-md.// -->

                    <div class="card-footer py-3">
                        <a href="#" class="btn btn-primary me-2">Theo dõi đơn hàng</a>
                        <a routerLink="/order" class="btn btn-danger" (click)="cancelAnOrder(order?.id!)">Hủy đơn hàng</a>
                    </div> <!-- card-footer.// -->

                </article>

                <nav class="mt-4">
                    <jw-pagination [items]="items" (changePage)="onChangePage($event)" [pageSize]="1">
                    </jw-pagination>
                </nav>

            </main> <!-- col.// -->

        </div> <!-- row.// -->
    </div> <!-- container.// -->
</section> <!-- section-content.// -->