<section class="section-pagetop bg-light">
    <div class="container">
        <h2 class="title-page">Đơn hàng</h2>
    </div> <!-- container.// -->
</section> <!-- section-pagetop.// -->

<section class="section-content padding-y">
    <div class="container">
        <div class="row">

            <aside class="col-md-3 mb-md-0 mb-3">
                <nav class="list-group">
                    <a class="list-group-item" routerLink="/user"> Tài khoản </a>
                    <a class="list-group-item active"> Đơn hàng của tôi </a>
                    <a class="list-group-item" routerLink=""> Đăng xuất </a>
                </nav>
            </aside> <!-- col.// -->

            <main class="col-md-9">

                <article class="card mb-4">

                    <header class="card-header">
                        <strong class="d-inline-block me-4">Mã đơn hàng: 3748764938</strong>
                        <span>Ngày mua: 20/08/2020</span>
                    </header> <!-- card-header.// -->

                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-md-8">
                                <h6 class="text-muted">Địa chỉ người nhận</h6>
                                <p class="lh-lg">Nguyễn Thị A <br> Số điện thoại: 0919944382<br> Địa chỉ: 120 Đường
                                    Nguyễn Duy
                                    Trinh, Phường Bình
                                    Trưng Đông, Quận 2, TP.HCM
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="text-muted">Hình thức thanh toán</h6>
                                <span class="text-success">
                                    <i class="fab fa-lg fa-cc-visa"></i>
                                    Giao tiêu chuẩn
                                </span>
                                <p class="lh-lg">Tạm tính: 3.530.000₫ <br> Phí vận chuyển: 50.000₫ <br>
                                    <strong>Tổng cộng: 3.580.000₫ </strong>
                                </p>
                            </div>
                        </div> <!-- row.// -->
                    </div> <!-- card-body.// -->

                    <hr class="m-0">

                    <div class="table-responsive">
                        <table class="cart-table table table-borderless">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col" style="min-width: 280px;">Sản phẩm</th>
                                    <th scope="col" width="150" style="min-width: 150px;">Giá</th>
                                    <th scope="col" width="150" style="min-width: 150px;">Số lượng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <figure class="itemside">
                                            <div class="float-start me-3"><img src="assets/img/80px.png"></div>
                                            <figcaption class="info">
                                                <a href="#" class="title">Nồi cơm điện Sharp 1.8 lít KS-TH18</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <span class="price">2.540.000₫</span>
                                        </div>
                                    </td>
                                    <td>
                                        1
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <figure class="itemside">
                                            <div class="float-start me-3"><img src="assets/img/80px.png"></div>
                                            <figcaption class="info">
                                                <a href="#" class="title">Nồi cơm điện Sharp 1.8 lít KS-NR181STV</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <span class="price">990.000₫</span>
                                        </div>
                                    </td>
                                    <td>
                                        1
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>  <!-- table.responsive-md.// -->

                    <div class="card-footer py-3">
                        <a href="#" class="btn btn-primary me-2">Theo dõi đơn hàng</a>
                        <a href="#" class="btn btn-danger">Hủy đơn hàng</a>
                    </div> <!-- card-footer.// -->

                </article>

                <nav class="mt-4">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#">Trang trước</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Trang sau</a></li>
                    </ul>
                </nav>

            </main> <!-- col.// -->

        </div> <!-- row.// -->
    </div> <!-- container.// -->
</section> <!-- section-content.// -->