<section class="section-pagetop-2 bg-light">
    <div class="container">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a routerLink="">Trang chủ</a></li>
                <li class="breadcrumb-item" aria-current="page"><a
                        [routerLink]="['/category', category.id]">{{category.name}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
            </ol>
        </nav>
    </div> <!-- container.// -->
</section> <!-- section-pagetop-2.// -->

<section class="section-content padding-y">
    <div class="container">
        <div class="row">

            <aside class="col-md-5 col-lg-6 mb-md-0 mb-4">
                <div id="productImageCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#productImageCarousel"
                            *ngFor="let img of product.imgs; index as i; first as isFirst" [ngClass]="{active: isFirst}"
                            [attr.data-bs-slide-to]="i" [attr.aria-current]="isFirst ? true : ''"
                            [attr.aria-label]="'Slide ' + i"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item" *ngFor="let img of product.imgs; first as isFirst"
                            [ngClass]="{active: isFirst}">
                            <img [src]="img" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#productImageCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Trước</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#productImageCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Sau</span>
                    </button>
                </div>
            </aside>

            <main class="col-md-7 col-lg-6">

                <h2 class="title">{{product.name}}</h2>

                <div class="rating-wrap my-3">
                    <span class="rating-stars me-2" *ngFor="let e of [].constructor(5); index as index">
                        <i class="bi bi-star-fill" [class]="index < product.ratingScore ? 'active' : ''"></i>
                    </span>

                    <small class="label-rating text-muted me-2">{{product.ratingNumber}} đánh giá</small>
                    <small class="label-rating text-success"><i class="bi bi-bag-check-fill"></i> {{product.totalBuy}}
                        đã mua</small>
                </div>

                <div class="mb-4">
                    <span class="price h4">{{product.price | number:'':'vi'}}₫</span>
                    <span class="ms-2 text-muted text-decoration-line-through"
                        *ngIf="product.oldPrice > 0">{{product.oldPrice | number:'':'vi'}}₫</span>
                </div>

                <dl class="row mb-4">
                    <dt class="col-xl-4 col-sm-5 col-6">Thương hiệu</dt>
                    <dd class="col-xl-8 col-sm-7 col-6"><a href="#">{{product.brand}}</a></dd>

                    <dt class="col-xl-4 col-sm-5 col-6">Thời gian giao hàng</dt>
                    <dd class="col-xl-8 col-sm-7 col-6">{{product.timeToDelivery}}</dd>

                    <dt class="col-xl-4 col-sm-5 col-6">Tình trạng</dt>
                    <dd class="col-xl-8 col-sm-7 col-6">{{product.status}}</dd>
                    <dt class="col-xl-4 col-sm-5 col-6">Số lượng</dt>
                    <dd class="col-xl-8 col-sm-7 col-6">
                        <input #wantedQuantity type="number" class="form-control w-50" value="1" min="1" max="1000"
                            step="1" />
                    </dd>
                </dl>

                <div>
                    <a [routerLink]="['/cart']" class="btn btn-primary"
                        (click)="addProductToCart(product.id, +wantedQuantity.value) ">Mua ngay</a>
                    <a [routerLink]="['/product', product.id]" class="btn btn-light ms-2"
                        (click)="addProductToCart(product.id, +wantedQuantity.value)">Thêm vào giỏ hàng</a>
                </div>

            </main>

        </div>
    </div> <!-- container.// -->
</section> <!-- section-content.// -->

<section class="section-content mb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="pb-2">Mô tả sản phẩm</h3>
                <p>
                    {{product.description}}
                </p>
            </div>
        </div>
    </div> <!-- container.// -->
</section> <!-- section-content.// -->

<section class="section-content mb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="pb-2">Đánh giá sản phẩm</h3>
                <div class="rattings-wrapper mb-5">
                    <div class="sin-rattings mb-4">
                        <div class="star-author-all mb-2 clearfix">
                            <div class="ratting-author float-start">
                                <h5 class="float-start me-3">Lê Thị B</h5>
                                <span>20/08/2020</span>
                            </div>
                            <div class="ratting-star float-end">
                                <span class="rating-stars me-2" *ngFor="let e of [].constructor(5); index as index">
                                    <i class="bi bi-star-fill" [class]="index < 1 ? 'active' : ''"></i>
                                </span>
                                <span>(4)</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost rud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost.
                        </p>
                    </div>
                    <div class="sin-rattings mb-4">
                        <div class="star-author-all mb-2 clearfix">
                            <div class="ratting-author float-start">
                                <h5 class="float-start me-3">Nguyễn Văn C</h5>
                                <span>19/08/2020</span>
                            </div>
                            <div class="ratting-star float-end">
                                <span class="rating-stars me-2" *ngFor="let e of [].constructor(5); index as index">
                                    <i class="bi bi-star-fill" [class]="index < 3 ? 'active' : ''"></i>
                                </span>
                                <span>(3)</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost rud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
                <h3 class="pb-2">Thêm nhận xét</h3>
                <div class="ratting-form-wrapper">
                    <div class="ratting-form">
                        <form action="">
                            <div class="row">
                                <div class="col-md-5 mb-3">
                                    <input type="text" class="form-control" placeholder="Họ tên" aria-label="Họ tên">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <input type="email" class="form-control" placeholder="Email" aria-label="Email">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <select class="form-select">
                                        <option disabled selected>Cho sao</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <textarea class="form-control" placeholder="Đánh giá" rows="3"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Gửi đánh giá</button>
                        </form>
                    </div>
                </div>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- container.//  -->
</section> <!-- section-content.// -->

<section class="section-content mb-5">
    <div class="container">
        <h3 class="pb-2">Sản phẩm liên quan</h3>
        <div class="row item-grid">
            <div class="col-lg-3 col-md-6" *ngFor='let relatedProduct of relatedProducts'>
                <div class="card p-3 mb-4">
                    <a [routerLink]="['/product', relatedProduct.id]" class="img-wrap text-center">
                        <img class="img-fluid" [src]="relatedProduct.img">
                    </a>
                    <figcaption class="info-wrap mt-2">
                        <a [routerLink]="['/product', relatedProduct.id]" class="title">{{relatedProduct.name}}</a>
                        <div class="price mt-1 fw-bold">{{relatedProduct.price | number:'':'vi'}}₫</div>
                    </figcaption>
                </div>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </div><!-- container.// -->
</section><!-- section-content.// -->
